@using ProjetArtiste1.Data.ViewModels; 
@model RegisterVM;

@{ 
    ViewData["Title"] = "Sign up for a new account";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="row">
    <div class="col-md-6 offset-3">
        

        @if(TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"] </span>
                </div>
            }

        <div class="row">
            @* <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Sign up" />
                        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div> *@

            <div class="wrapper">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2>Inscrivez vous !!</h2>
                    <div class="input-field">
                        <input asp-for="FullName">
                        <label>Enter your FullName</label>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <input asp-for="EmailAddress">
                        <label>Enter your EmailAddress</label>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <input asp-for="Password">
                        <label>Enter your password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <input asp-for="ConfirmPassword">
                        <label>Confirm your password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" value="Sign up">Sign up</button>
                    <div class="register">
                        <p>Don't have an account? <a href="#">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>