@{
    ViewData["Title"] = "Galerie";
}

<link rel="stylesheet" href="~/css/Galerie.css" asp-append-version="true"/>

<section class="homepage" id="home">
    <div class="content">
        <div class="text">
            <h1>GALERIE PHOTOS</h1>
            <p>
                "Découvrez une collection envoûtante de photographies captivantes, <br /> 
                figeant des moments uniques et des émotions intemporelles."
            </p>
        </div>
    </div>
</section>

<div>
    <div class="title">
        <h1 style="font-weight: 700; color: #fff;">P<span style="color: #08B663;">E</span>INTURE</h1>
        <p style="color: #fff;">
            Retrouvez ici des sculptures epiques pour vos decoration d’interieur comme d’expeterieur.
            c’est tout simplement magique
        </p>
    </div>
    <div id="formList">
        
        <div id="list">
            <div class="item">
                <img src="~/imgs/peinture/020de6ab-714b-49c1-a435-0ad69f6a6858.jpg" class="avatar">
                <h2>Lion Majestuex</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/aa61e5d2-3a7e-4d8a-9e66-b45c9674f395.jpg" class="avatar">
                <h2>Peinture Deco</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/bcac20e7-a413-4dd1-bed7-c96035cc563e.jpg" class="avatar">
                <h2>Nelson Mandela</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/Brotherhood assembly-in honor of Nelson Mandela.jpg" class="avatar">
                <h2>LE Tout Puissant Nelson Mandela</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/d4e94fe4-8b94-4639-ac5c-9a65ac9f0d06.jpg" class="avatar">
                <h2>The Queen</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/Disney _ 9 photos magnifiques qui montrent à quoi ressembleraient les princesses Disneys si elles étaient noires - TediDev.jpg" class="avatar">
                <h2>Les Femmes Dynamiques d'Afrique</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/f3d9328f-d3cf-4ce8-8dab-992698dda653.jpg" class="avatar">
                <h2>Un Paysage De Reve</h2>

            </div>
            <div class="item">
                <img src="~/imgs/peinture/June 3, 2008- Barack Obama secured the 2008 U_S….jpg" class="avatar">
                <h2>Son Excellence Obama</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/Martin Luther King, Jr_.jpg" class="avatar">
                <h2>Martin Luttin King</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/Mawimbi.jpg" class="avatar">
                <h2>Scruptule De Tete d'Ancècre</h2>

            </div>
            <div class="item">
                <img src="~/imgs/peinture/Michelle Obama by matchugrams on DeviantArt.jpg" class="avatar">
                <h2>Femme Africaine</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/Most Impressive Celebrity Caricatures I've Ever Seen.jpg" class="avatar">
                <h2>Tableau Décoratif</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/Nelson Mandela - Pancarta _Bogotá Negra__ in 2020 _ Typography portrait, Psychedelic art, Pop art.jpg" class="avatar">
                <h2>Nelson Mandela</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/Nelson Mandela Tribute Illustration.jpg" class="avatar">
                <h2>Nelson Mandela</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/The Dangerous Doctor King _ The Saturday Evening Post.jpg" class="avatar">
                <h2>Martin Luttin King</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/tête africaine en pagne.jpg" class="avatar">
                <h2>Femme Cultivé</h2>
            </div>
            <div class="item">
                <img src="~/imgs/peinture/Vendutera Obra Del Pintor Dominicano Eus, Pintura por Eusebio Vidal _ Artmajeur.jpg" class="avatar">
                <h2>Quoi De Plus Beau Dans ce Monde Que Les Femmes Africaines</h2>
            </div>
        </div>
    </div>

    <div class="direction">
        <button id="prev"> < </button>
        <button id="next"> > </button>
    </div>
</div>
<div>
    <div class="title">
        <h1 style="font-weight: 700; color: #fff;">S<span style="color: #08B663;">C</span>ULPTURE</h1>
        <p style="color: #fff;">
            Retrouvez ici des sculptures epiques pour vos decoration d’interieur comme d’expeterieur.
            c’est tout simplement magique
        </p>
    </div>
    <div id="formList">
        
        <div id="list">
            <div class="item">
                <img src="~/imgs/Sculture/48e9620d-1f12-4ffc-a0a6-e2088bbdf0e3.jpg" class="avatar">
                <h2> Reine peuls des années 1899</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/54868899-19d7-4d7b-820a-336b5b8c3fc0.jpg" class="avatar">
                <h2>Decoration Africaine</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/Afro I.jpg" class="avatar">
                <h2>Afro</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/Art Africain et Océanien.jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/c1a2479c-0f54-4d85-8300-1f02778e31c3.jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/Charles-Henri-Joseph Cordier - African Venus [1851].jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/Historical Hairstyles.jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/Leilão em 20_7_2019.jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/pexels-adrien-olichon-2823459.jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/pexels-chait-goli-2031774.jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
            <div class="item">
                <img src="~/imgs/Sculture/pexels-mark-neal-2119642.jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
        </div>
    </div>

    <div class="direction">
        <button id="prev"> < </button>
        <button id="next"> > </button>
    </div>
</div>
<div>
    <div class="title">
        <h1 style="font-weight: 700; color: #fff;">H<span style="color: #08B663;">O</span>ME DECO</h1>
        <p style="color: #fff;">
            Retrouvez ici des sculptures epiques pour vos decoration d’interieur comme d’expeterieur.
            c’est tout simplement magique
        </p>
    </div>
    <div id="formList">
        
        <div id="list">
            <div class="item">
                <img src="~/imgs/HomeDeco/5d917409-925d-4288-9d08-b180720f5cb8.jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
            <div class="item">
                <img src="~/imgs/HomeDeco/Art Africain, masques d'Afrique _ statues, sculptures, bronzes (1).jpg" class="avatar">
                <h2>Statuette</h2>
            </div>
            <div class="item">
                <img src="~/imgs/HomeDeco/f3e78916-12f0-4a3f-90d0-f3e272d46cc3.jpg" class="avatar">
                <h2>Statuette</h2>

            </div>
            <div class="item">
                <img src="~/imgs/HomeDeco/Porteuses d'Eau - Tableau Africain - 80 x 80 cm.jpg" class="avatar">
                <h2>Femme Africaine</h2>
            </div>
            <div class="item">
                <img src="~/imgs/HomeDeco/Profil d'Or - Tableau Africain - 30 x 40 cm.jpg" class="avatar">
                 <h2>Femme Africaine</h2>
            </div>
            <div class="item">
                <img src="~/imgs/HomeDeco/Élégance Éternelle - Tableau Africain - 75 x 100 cm.jpg" class="avatar">
                <h2>Decoration Interne</h2>
            </div>
        </div>
    </div>

    <div class="direction">
        <button id="prev"> < </button>
        <button id="next"> > </button>
    </div>
</div>





<script src="~/js/Galerie.js"></script>