@{
    ViewData["Title"] = "Biographie";
}

<link rel="stylesheet" href="~/css/Biographie.css" asp-append-version="true"/>
@* 
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
 *@

<div class="about-container">
    <div class="about-contents">

        <section class="imageSection">
            <img src="~/imgs/télécharger (1).jpg" alt="Photo de Henry">
        </section>

        <section class="infoSection">
            <h1>Biographie</h1>
            <h2>Artiste et createur Professionel ayant 5 années d'experience</h2>
            <p>
                Henri Venus est un artiste contemporain passionné, né la ville de Douala plus precisement dans la localite de bekoko.
                Dès son plus jeune âge, il était fasciné par les
                couleurs, les formes et l'expression artistique. Son talent artistique s'est
                rapidement révélé et il a commencé à explorer différentes techniques
                et médiums pour donner vie à ses idées créatives.
            </p>
            <p>
                Henri Venus est connu pour sa capacité à capturer la beauté et l'émotion
                dans ses peintures. Ses tableaux vibrants et expressifs racontent des histoires,
                reflètent des émotions profondes et invitent le spectateur à une introspection.
                Il utilise des couleurs audacieuses, des textures riches et des compositions
                dynamiques pour créer des œuvres qui suscitent des réactions et des
                connexions émotionnelles.
            </p>
            <p>
                Aujourd'hui, Henri Venus continue d'explorer de nouvelles avenues artistiques
                et de repousser les limites de sa propre créativité. Son travail continue d'évoluer,
                témoignant de son engagement à rester ouvert aux nouvelles idées et à
                embrasser l'évolution constante de l'art contemporain.
            </p>
            <p>
                Henri Venus est un artiste passionné dont l'œuvre est une invitation à la
                contemplation, à l'émerveillement et à la découverte de la beauté qui réside
                dans le monde qui nous entoure.
            </p>
            <div class="personalInfo">
                <div><span>Nom:</span><span>Henry Venus</span></div>
                <div><span>Age:</span><span>24 ans</span></div>
                <div><span>Email:</span><span>henryvenus@gmail.com</span></div>
                <div><span>Adresse:</span><span>lafe, bomono</span></div>
            </div>
            <div class="button">
                <button>Telecharger le CV</button>
            </div>
        </section>

        <section class="skillSection">
            <div class="skill">
                <div class="subject">Peinture</div>
                <div class="progress_bar">
                    <div class="progress_line" value="94%" style="max-width: 94%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="subject">Sculpture</div>
                <div class="progress_bar">
                    <div class="progress_line" value="75%" style="max-width: 75%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="subject">Home Deco</div>
                <div class="progress_bar">
                    <div class="progress_line" value="35%" style="max-width: 35%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="subject">Masque</div>
                <div class="progress_bar">
                    <div class="progress_line" value="10%" style="max-width: 10%"></div>
                </div>
            </div>
        </section>
    </div>
</div>